USE [EventDb]
GO
/****** Object:  Table [dbo].[EventDetails]    Script Date: 04-03-2026 10.28.38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventDetails](
	[EventId] [int] NOT NULL,
	[EventName] [varchar](50) NOT NULL,
	[EventCategory] [varchar](50) NOT NULL,
	[EventDate] [datetime] NOT NULL,
	[Description] [varchar](255) NULL,
	[Status] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[EventId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ParticipantEventDetails]    Script Date: 04-03-2026 10.28.38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ParticipantEventDetails](
	[Id] [int] NOT NULL,
	[ParticipantEmailId] [varchar](100) NOT NULL,
	[EventId] [int] NOT NULL,
	[SessionId] [int] NOT NULL,
	[IsAttended] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SessionInfo]    Script Date: 04-03-2026 10.28.38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SessionInfo](
	[SessionId] [int] NOT NULL,
	[EventId] [int] NOT NULL,
	[SessionTitle] [varchar](50) NOT NULL,
	[SpeakerId] [int] NOT NULL,
	[Description] [varchar](255) NULL,
	[SessionStart] [datetime] NOT NULL,
	[SessionEnd] [datetime] NOT NULL,
	[SessionUrl] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[SessionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SpeakersDetails]    Script Date: 04-03-2026 10.28.38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SpeakersDetails](
	[SpeakerId] [int] NOT NULL,
	[SpeakerName] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SpeakerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserInfo]    Script Date: 04-03-2026 10.28.38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserInfo](
	[EmailId] [varchar](100) NOT NULL,
	[UserName] [varchar](50) NOT NULL,
	[Role] [varchar](20) NOT NULL,
	[Password] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EmailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ParticipantEventDetails]  WITH CHECK ADD FOREIGN KEY([EventId])
REFERENCES [dbo].[EventDetails] ([EventId])
GO
ALTER TABLE [dbo].[ParticipantEventDetails]  WITH CHECK ADD FOREIGN KEY([ParticipantEmailId])
REFERENCES [dbo].[UserInfo] ([EmailId])
GO
ALTER TABLE [dbo].[ParticipantEventDetails]  WITH CHECK ADD FOREIGN KEY([SessionId])
REFERENCES [dbo].[SessionInfo] ([SessionId])
GO
ALTER TABLE [dbo].[SessionInfo]  WITH CHECK ADD FOREIGN KEY([EventId])
REFERENCES [dbo].[EventDetails] ([EventId])
GO
ALTER TABLE [dbo].[SessionInfo]  WITH CHECK ADD FOREIGN KEY([SpeakerId])
REFERENCES [dbo].[SpeakersDetails] ([SpeakerId])
GO
ALTER TABLE [dbo].[EventDetails]  WITH CHECK ADD CHECK  ((len([EventName])>=(1) AND len([EventName])<=(50)))
GO
ALTER TABLE [dbo].[EventDetails]  WITH CHECK ADD CHECK  ((len([EventCategory])>=(1) AND len([EventCategory])<=(50)))
GO
ALTER TABLE [dbo].[EventDetails]  WITH CHECK ADD CHECK  (([Status]='In-Active' OR [Status]='Active'))
GO
ALTER TABLE [dbo].[ParticipantEventDetails]  WITH CHECK ADD CHECK  (([IsAttended]=(1) OR [IsAttended]=(0)))
GO
ALTER TABLE [dbo].[SessionInfo]  WITH CHECK ADD CHECK  ((len([SessionTitle])>=(1) AND len([SessionTitle])<=(50)))
GO
ALTER TABLE [dbo].[SpeakersDetails]  WITH CHECK ADD CHECK  ((len([SpeakerName])>=(1) AND len([SpeakerName])<=(50)))
GO
ALTER TABLE [dbo].[UserInfo]  WITH CHECK ADD CHECK  ((len([Password])>=(6) AND len([Password])<=(20)))
GO
ALTER TABLE [dbo].[UserInfo]  WITH CHECK ADD CHECK  (([Role]='Participant' OR [Role]='Admin'))
GO
ALTER TABLE [dbo].[UserInfo]  WITH CHECK ADD CHECK  ((len([UserName])>=(1) AND len([UserName])<=(50)))
GO
